* {
    /* background-color: rgb(37, 35, 35);
    color: #fff; */
    background-size: cover;
    box-sizing: border-box;
}

.row {
    /* max-width: 1000px; */
    width: 90%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 1.3rem;
    margin-top: -20px;
    border-bottom: 5px solid #49bec9;
    /* position: fixed; */
    /* top: 0px; */
}

.brand {
    display: flex;
    align-items: center;
    background-size: 100%;
    font-size: 2rem;
}

.head {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 60px;
    /* margin-right:60px ; */
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: auto;
    padding: 2rem;
    height: 50%;
    color: black;
    font-size:30px;
}

.link:hover {
    color: rgb(80, 235, 9);
    font-size: larger;
    transition: all 0.3 ease-in-out;
}



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 30px;
    margin-left: 17rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #49bec9;
    color: #fff;
}

.button:hover {
    background: rgb(80, 235, 9);
    color: black;
    transition: all 0.50s ease-in-out;
}

.book {
    display: flex;
    font-size: 3rem;
    width: 100%;
    margin-bottom: 20%;
}

.middle {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#image {
    height: 500px;
    width: 60%;
}

.vawluence {
    display: flex;
    margin-top: 20px;
    /* margin-left: 150px; */
    justify-content: space-evenly;
}

.comrade {
    border-color: black;
    outline: none;
    border-radius: 60px;
    background: #4fd34f;
    color: #ffffff;
    padding: 10px 15px;
    outline: none;
}

/* .text{
    
} */
.comrade a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.comrade:hover {
    background: gold;
    /* border: none; */
    color: black;
    transition: all 0.50s ease-in-out;
    border-color: black;
    /* box-shadow: 0px 2px 3px 4px ; */
}

.comrade:hover a {
    font-weight: 500;
    color: black;
}

.comradet {
    /* border: none; */
    border-color: black;
    border-radius: 60px;
    background: gold;
    font-weight: 700;
    padding: 10px 15px;
}

.comradet a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.comradet:hover {
    background: #4fd34f;
}

#gold {
    color: gold;
}

#blue {
    color: #49bec9;
}

#green {
    color: #4fd34f;
}

.why {
    display: flex;
    font-size: 3rem;
    width: 100%;
    /* color: #fff; */
    /* background: black; */
}

.middle2 {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: 1.5rem;
}

.contact {
    width: 100%;
    font-family: cursive;
    font-size: 3em;
    /* font-size: ; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

form {
    font-size: 2rem;
    font-family: cursive;
    display: flex;
}

form input {
    border-radius: 60px;
    padding: 10px 20px;
}

.submit {
    padding: 10px 15px;
    border-radius: 50px;
    background-color: rgb(83, 212, 83);
}

.submit a {
    text-decoration: none;
    font-family: cursive;
    color: white;
    font-size: 15px;
}

.submit:hover {
    background-color: black;
    /* color: yellow; */
    transition: all 0.5s ease-in-out;
    box-shadow: 15px;
}

.footer {
    background-color: black;
    color: white;
    margin-top: 18%;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* hambuger nav */
.ham {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.bar.color {
    background-color: #fff;
}

@media screen and (max-width:800px) {
    .ham {
        display: block;
    }

    .ham.active .bar:nth-child(2) {
        opacity: 0;
    }

    .ham.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .ham.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .head {
        align-items: center;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        top: -20;
    }

    .list {
        margin: 20px;
    }

    .link {
        background-color: black;
        color: #fff;
    }

    .head.active {
        left: 0;
    }

    .button {
        width: 50%;
        align-self: center;
        margin: 30px;
    }
/* 
    p {
        font-size: 15px;
    } */


}